.step-2 {
  .form-switch {
    $height: 22px;
    height: $height + 8px;
    .form-check-input {
      height: $height;
      padding-left: 38px;
      --bs-form-check-bg: var(--bs-dark);
      --bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/></svg>");
      &:checked {
        background-color: var(--bs-dark);
      }
      &:focus {
        --bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/></svg>");
      }
    }
  }
}
