.form-control,
.form-select {
  padding: 12px 16px;
  &:focus,
  &.is-valid:focus,
  &.is-invalid:focus {
    box-shadow: none;
  }

  &::placeholder {
    opacity: 0.7;
  }
}

.form-switch {
  .form-check-input {
    box-shadow: none;
    cursor: pointer;

    height: 18px;
    padding-left: 38px;
    --bs-form-check-bg: var(--bs-primary);
    --bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/></svg>");
    &:focus{
      --bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/></svg>");
    }
  }
}

